# Advanced Databases 2024/2025

## Project

**Group Number:** 15

**Group Elements:**
- Martim Emauz
- Miguel Martins
- Rúben Torres

### Imports

In [ ]:
from pymongo import MongoClient
import mysql.connector
import numpy as np
import pandas as pd
import random

### Utils

In [ ]:
teams_data = {
    "Manchester City": {"city": "Manchester", "region": "North"},
    "Arsenal": {"city": "London", "region": "South"},
    "Liverpool": {"city": "Liverpool", "region": "North"},
    "Aston Villa": {"city": "Birmingham", "region": "Midlands"},
    "Tottenham Hotspur": {"city": "London", "region": "South"},
    "Chelsea": {"city": "London", "region": "South"},
    "Newcastle United": {"city": "Newcastle", "region": "North"},
    "Manchester United": {"city": "Manchester", "region": "North"},
    "West Ham United": {"city": "London", "region": "South"},
    "Crystal Palace": {"city": "London", "region": "South"},
    "Brighton and Hove Albion": {"city": "Brighton", "region": "South"},
    "AFC Bournemouth": {"city": "Bournemouth", "region": "South"},
    "Fulham": {"city": "London", "region": "South"},
    "Wolverhampton Wanderers": {"city": "Wolverhampton", "region": "Midlands"},
    "Everton": {"city": "Liverpool", "region": "North"},
    "Brentford": {"city": "Brentford", "region": "South"},
    "Nottingham Forest": {"city": "Nottingham", "region": "Midlands"},
    "Luton Town": {"city": "Luton", "region": "South"},
    "Burnley": {"city": "Burnley", "region": "North"},
    "Sheffield United": {"city": "Sheffield", "region": "North"},
}

### DataFrames - Core

In [ ]:
df_coaches = pd.read_csv("./dataset/coaches.csv").replace("&", "and", regex=True)
df_coaches = df_coaches.rename(
    columns={
        "Club": "team",
        "Name": "name",
        "Country": "country",
        "Age": "age",
        "Experience": "experience_years",
        "Titles": "titles",
    }
)
columns = ["team", "name", "age", "country", "experience_years", "titles"]
df_coaches = df_coaches[columns]
num_coaches, _ = df_coaches.shape
print(f"Imported {num_coaches} coaches!")


df_players = pd.read_csv("./dataset/player_player_ratings.csv")
df_players = df_players.rename(
    columns={
        "Player": "name",
        "Team": "team",
        "Minutes": "minutes",
        "Matches": "matches",
        "Country": "country",
    }
)
df_players["strong_foot"] = np.random.choice([True, False], size=len(df_players))
columns = ["team", "name", "country", "strong_foot", "matches", "minutes"]
df_players = df_players[columns]
num_players, _ = df_players.shape
print(f"Imported {num_players} players!")


df_teams = pd.read_csv("./dataset/pl_table_2023_24.csv").replace("&", "and", regex=True)
df_teams = df_teams.rename(
    columns={
        "idx": "position_league",
        "played": "matches",
    }
)
df_teams["country"] = "ENG"
df_teams["city"] = df_teams["name"].map(
    lambda team: teams_data.get(team, {}).get("city", "Unknown")
)
df_teams["region"] = df_teams["name"].map(
    lambda team: teams_data.get(team, {}).get("region", "Unknown")
)
columns = ["name", "position_league", "country", "city", "region", "matches"]
df_teams = df_teams[columns]
num_teams, _ = df_teams.shape
print(f"Imported {num_teams} teams!")

### DataFrames - Team Stats

In [ ]:
df_accurate_cross_team = pd.read_csv("./dataset/accurate_cross_team.csv")[
    ["Team", "Cross Success (%)", "Accurate Crosses per Match"]
]


df_corner_taken_team = pd.read_csv("./dataset/corner_taken_team.csv")[
    ["Team", "Corners Taken"]
]


df_team_ratings = pd.read_csv("./dataset/team_ratings.csv")[
    ["Team", "FotMob Team Rating"]
]


df_touches_in_opp_box_team = pd.read_csv("./dataset/touches_in_opp_box_team.csv")[
    ["Team", "Touches in Opposition Box"]
]


df_possession_percentage_team = pd.read_csv("./dataset/possession_percentage_team.csv")[
    ["Team", "Possession (%)"]
]


df_team_stats = pd.read_csv("./dataset/pl_table_2023_24.csv").rename(
    columns={"name": "Team"}
)[["Team"]]
df_team_stats = (
    df_team_stats.merge(df_accurate_cross_team, on="Team", how="left")
    .merge(df_corner_taken_team, on="Team", how="left")
    .merge(df_team_ratings, on="Team", how="left")
    .merge(df_touches_in_opp_box_team, on="Team", how="left")
    .merge(df_possession_percentage_team, on="Team", how="left")
).replace("&", "and", regex=True)
df_team_stats = df_team_stats.rename(
    columns={
        "Team": "team",
        "Cross Success (%)": "cross_success_pct",
        "Accurate Crosses per Match": "accurate_crosses_per_90",
        "Corners Taken": "corners_taken",
        "FotMob Team Rating": "team_rating",
        "Touches in Opposition Box": "touches_in_opp_box",
        "Possession (%)": "possession_pct",
    }
)
num_team_stats, _ = df_team_stats.shape
print(f"Imported {num_team_stats} teams' stats!")

### DataFrames - Player Stats

In [ ]:
df_player_player_ratings = pd.read_csv("./dataset/player_player_ratings.csv")[
    ["Player", "FotMob Rating", "Player of the Match Awards"]
]
df_player_top_scorers = pd.read_csv("./dataset/player_top_scorers.csv")[
    ["Player", "Goals", "Penalties"]
]
df_player_expected_goals = pd.read_csv("./dataset/player_expected_goals.csv")[
    ["Player", "Expected Goals (xG)"]
]
df_player_big_chances_missed = pd.read_csv("./dataset/player_big_chances_missed.csv")[
    ["Player", "Big Chances Missed", "Shot Conversion Rate (%)"]
]
df_player_top_assists = pd.read_csv("./dataset/player_top_assists.csv")[
    ["Player", "Assists", "Secondary Assists"]
]
df_player_expected_assists = pd.read_csv("./dataset/player_expected_assists.csv")[
    ["Player", "Expected Assists (xA)"]
]
df_player_big_chances_created = pd.read_csv("./dataset/player_big_chances_created.csv")[
    ["Player", "Big Chances Created"]
]
df_player_accurate_passes = pd.read_csv("./dataset/player_accurate_passes.csv")[
    ["Player", "Accurate Passes per 90", "Pass Success (%)"]
]
df_player_accurate_long_balls = pd.read_csv("./dataset/player_accurate_long_balls.csv")[
    ["Player", "Accurate Long Balls per 90", "Successful Long Balls (%)"]
]
df_player_clean_sheets = pd.read_csv("./dataset/player_clean_sheets.csv")[
    ["Player", "Clean Sheets", "Goals Conceded"]
]
df_player_effective_clearances = pd.read_csv(
    "./dataset/player_effective_clearances.csv"
)[["Player", "Total Clearances"]]
df_player_interceptions = pd.read_csv("./dataset/player_interceptions.csv")[
    ["Player", "Total Interceptions"]
]
df_player_contests_won = pd.read_csv("./dataset/player_contests_won.csv")[
    ["Player", "Successful Dribbles per 90", "Dribble Success Rate (%)"]
]
df_player_yellow_cards = pd.read_csv("./dataset/player_yellow_cards.csv")[
    ["Player", "Yellow Cards"]
]
df_player_red_cards = pd.read_csv("./dataset/player_red_cards.csv")[
    ["Player", "Red Cards"]
]
df_player_fouls_committed = pd.read_csv("./dataset/player_fouls_committed.csv")[
    ["Player", "Fouls Committed per 90"]
]
df_player_stats = (
    df_player_player_ratings.merge(df_player_top_scorers, on="Player", how="left")
    .merge(df_player_expected_goals, on="Player", how="left")
    .merge(df_player_big_chances_missed, on="Player", how="left")
    .merge(df_player_top_assists, on="Player", how="left")
    .merge(df_player_expected_assists, on="Player", how="left")
    .merge(df_player_big_chances_created, on="Player", how="left")
    .merge(df_player_accurate_passes, on="Player", how="left")
    .merge(df_player_accurate_long_balls, on="Player", how="left")
    .merge(df_player_clean_sheets, on="Player", how="left")
    .merge(df_player_effective_clearances, on="Player", how="left")
    .merge(df_player_interceptions, on="Player", how="left")
    .merge(df_player_contests_won, on="Player", how="left")
    .merge(df_player_yellow_cards, on="Player", how="left")
    .merge(df_player_red_cards, on="Player", how="left")
    .merge(df_player_fouls_committed, on="Player", how="left")
).fillna(0)

### MongoDB - Core

In [ ]:
client = MongoClient("mongodb://root:R00T_P4SSW0RD@localhost:27017/")
db = client["premier_league"]

# team (key), name, age, country, experience_years, titles;
coach = db["coach"]  # MySQL == coach + team_coach
coach_result = coach.insert_many(df_coaches.to_dict("records"))
print(f"Added {len(coach_result.inserted_ids)} coaches!")

# team (key), name, country, strong_foot, matches, minutes;
player = db["player"]  # MySQL == player + team_player
player_result = player.insert_many(df_players.to_dict("records"))
print(f"Added {len(player_result.inserted_ids)} players!")

# name (key), position_league, country, city, region, matches;
team = db["team"]
team_result = team.insert_many(df_teams.to_dict("records"))
print(f"Added {len(team_result.inserted_ids)} teams!")

### MongoDB - Stats

In [ ]:
# team (key), cross_success_pct, accurate_crosses_per_90, corners_taken, team_rating, touches_in_opp_box, possession_pct
team_stats = db["team_stats"]  # MySQL == team_stats
team_stats_result = team_stats.insert_many(df_team_stats.to_dict("records"))
print(f"Added {len(team_stats_result.inserted_ids)} teams' stats!")

# player (key),
# player_rating, player_of_match,
# goals, expected_goals, shot_conversion_rate, penalties_scored,
# assists, expected_assists, secondary_assists, big_chances_created, big_chances_missed,
# pass_success_pct, accurate_passes_90, accurate_long_balls_90, successful_long_balls_pct,
# clean_sheets, goals_conceded, total_clearances, total_interceptions,
# successful_dribbles_90, dribble_success_rate,
# yellow_cards, red_cards, fouls_per_90;
df_player_stats = df_player_stats.rename(
    columns={
        "Player": "player",
        "FotMob Rating": "player_rating",
        "Player of the Match Awards": "player_of_match",
        "Goals": "goals",
        "Penalties": "penalties_scored",
        "Expected Goals (xG)": "expected_goals",
        "Big Chances Missed": "big_chances_missed",
        "Shot Conversion Rate (%)": "shot_conversion_rate",
        "Assists": "assists",
        "Secondary Assists": "secondary_assists",
        "Expected Assists (xA)": "expected_assists",
        "Big Chances Created": "big_chances_created",
        "Accurate Passes per 90": "accurate_passes_90",
        "Pass Success (%)": "pass_success_pct",
        "Accurate Long Balls per 90": "accurate_long_balls_90",
        "Successful Long Balls (%)": "successful_long_balls_pct",
        "Clean Sheets": "clean_sheets",
        "Goals Conceded": "goals_conceded",
        "Total Clearances": "total_clearances",
        "Total Interceptions": "total_interceptions",
        "Successful Dribbles per 90": "successful_dribbles_90",
        "Dribble Success Rate (%)": "dribble_success_rate",
        "Yellow Cards": "yellow_cards",
        "Red Cards": "red_cards",
        "Fouls Committed per 90": "fouls_per_90",
    }
)
player_stats = db["player_stats"]  # MySQL == player_stats
player_stats_result = player_stats.insert_many(df_player_stats.to_dict("records"))
print(f"Added {len(player_stats_result.inserted_ids)} players' stats!")

### MongoDB - Simple Queries

In [ ]:
iberian_players_count = player.count_documents({"country": {"$in": ["POR", "ESP"]}})
print(f"There are {iberian_players_count} Iberian players in the Premier League!")

manchester_united_coach = coach.update_one(
    {"team": "Manchester United"},
    {
        "$set": {
            "name": "Rúben Amorim",
            "age": 39,
            "country": "POR",
            "experience_years": 6,
            "titles": 6,
        }
    },
)
manchester_united_coach = coach.find_one({"team": "Manchester United"})
print(f"{manchester_united_coach["name"]} is Manchester United's coach!")

### MongoDB - Complex Queries

In [ ]:
top_performing_coaches = coach.aggregate(
    [
        {
            "$lookup": {
                "from": "team",
                "localField": "team",
                "foreignField": "name",
                "as": "coach-team",
            }
        },
        {"$unwind": "$coach-team"},
        {
            "$lookup": {
                "from": "team_stats",
                "localField": "coach-team.name",
                "foreignField": "team",
                "as": "coach-team_stats",
            }
        },
        {"$unwind": "$coach-team_stats"},
        {
            "$lookup": {
                "from": "player",
                "localField": "team",
                "foreignField": "team",
                "as": "coach-player",
            }
        },
        {"$unwind": "$coach-player"},
        {
            "$lookup": {
                "from": "player_stats",
                "localField": "coach-player.name",
                "foreignField": "player",
                "as": "coach-player_stats",
            }
        },
        {"$unwind": "$coach-player_stats"},
        {
            "$group": {
                "_id": "$_id",  # Group by coach ID
                "coach_name": {"$first": "$name"},
                "coach_country": {"$first": "$country"},
                "team_name": {"$first": "$coach-team.name"},
                "team_position_league": {"$first": "$coach-team.position_league"},
                "team_rating": {"$first": "$coach-team_stats.team_rating"},
                "team_possession_pct": {"$first": "$coach-team_stats.possession_pct"},
                "avg_player_rating": {"$avg": "$coach-player_stats.player_rating"},
                "total_team_goals": {"$sum": "$coach-player_stats.goals"},
                "total_team_assists": {"$sum": "$coach-player_stats.assists"},
            }
        },
        {
            "$sort": {
                "team_position_league": 1,
                "team_rating": -1,
                "total_team_goals": -1,
            }
        },  # Sort results
        {"$limit": 3},  # Limit to top 3 results
    ]
)

print("********** TOP 3 COACHES **********\n")
for tpc in top_performing_coaches:
    print(
        f"Coach: {tpc['coach_name']}, Team: {tpc['team_name']}, League Position: {tpc['team_position_league']}, Team Rating: {tpc['team_rating']}"
    )
    print(
        f"Average Player Rating: {tpc['avg_player_rating']:.2f}, Total Goals: {tpc['total_team_goals']}, Total Assists: {tpc['total_team_assists']}\n"
    )


top_performing_players = player.aggregate(
    [
        {
            "$lookup": {
                "from": "player_stats",
                "localField": "name",
                "foreignField": "player",
                "as": "player-player_stats",
            }
        },
        {"$unwind": "$player-player_stats"},
        {"$match": {"matches": {"$gte": 1, "$lte": 38}}},
        {
            "$group": {
                "_id": "$_id",
                "player_name": {"$first": "$name"},
                "total_goals": {"$sum": "$player-player_stats.goals"},
                "total_assists": {"$sum": "$player-player_stats.assists"},
                "total_contribution": {
                    "$sum": {
                        "$add": [
                            "$player-player_stats.goals",
                            "$player-player_stats.assists",
                        ]
                    }
                },
                "total_matches": {"$first": "$matches"},
                "total_minutes": {"$first": "$minutes"},
            }
        },
        {
            "$sort": {
                "total_contribution": -1,
                "total_minutes": 1,
            }
        },
        {"$limit": 5},
    ]
)

print("********** TOP 5 PLAYERS **********\n")
for tpp in top_performing_players:
    print(
        f"Player: {tpp['player_name']}, Total Goals: {tpp['total_goals']}, Total Assists: {tpp['total_assists']}, Total Contribution: {tpp['total_contribution']}, Total Matches: {tpp['total_matches']}, Total Minutes: {tpp['total_minutes']}\n"
    )

### MySQL - Initialization

In [ ]:
database_name = 'premier_league_2023_24_stats'

mydb = mysql.connector.connect(
    host="localhost",
    user="root",
    password = 'R00T_P4SSW0RD'
)

mycursor = mydb.cursor()
mycursor.execute(f"DROP DATABASE IF EXISTS {database_name}")
mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {database_name}")
mycursor.execute(f"USE {database_name}")

### MySQL - Core

In [ ]:
# player
mycursor.execute("""
CREATE TABLE IF NOT EXISTS team (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    position_league INT,
    country VARCHAR(3),
    city VARCHAR(255),
    region VARCHAR(255),
    matches INT
);
""")

# player
mycursor.execute("""
CREATE TABLE IF NOT EXISTS player (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    country VARCHAR(3),
    strong_foot BOOLEAN,
    matches INT,
    minutes INT
);
""")

# coach
mycursor.execute("""
CREATE TABLE IF NOT EXISTS coach (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(255),
    age INT,
    country VARCHAR(3),
    experience_years INT,
    titles INT
);
""")

# team_player
mycursor.execute("""
CREATE TABLE IF NOT EXISTS team_player (
    id INT AUTO_INCREMENT PRIMARY KEY,
    team_id INT,
    player_id INT,
        FOREIGN KEY (team_id) REFERENCES team(id),
        FOREIGN KEY (player_id) REFERENCES player(id)
);
""")

# team_coach
mycursor.execute("""
CREATE TABLE IF NOT EXISTS team_coach (
    id INT AUTO_INCREMENT PRIMARY KEY,
    team_id INT,
    coach_id INT,
        FOREIGN KEY (team_id) REFERENCES team(id),
        FOREIGN KEY (coach_id) REFERENCES coach(id)
);
""")

# team_stats
mycursor.execute("""
CREATE TABLE IF NOT EXISTS team_stats (
    id INT AUTO_INCREMENT PRIMARY KEY,
    team_id INT,
    cross_success_pct FLOAT,
    accurate_crosses_per_90 FLOAT,
    corners_taken FLOAT,
    team_rating FLOAT,
    touches_in_opp_box FLOAT,
    possession_pct FLOAT,
        FOREIGN KEY (team_id) REFERENCES team(id)
);
""")

# player_stats
mycursor.execute("""
CREATE TABLE IF NOT EXISTS player_stats (
    id INT AUTO_INCREMENT PRIMARY KEY,
                 
    -- Player identification            
    player_id INT,
    player_rating FLOAT,
    player_of_match FLOAT,
                 
    -- Goal-related statistics
    goals FLOAT,
    expected_goals FLOAT,
    shot_conversion_rate FLOAT,
    penalties_scored FLOAT,
    
    -- Assist statistics
    assists FLOAT,
    expected_assists FLOAT,
    secondary_assists FLOAT,
    big_chances_created FLOAT,
    big_chances_missed FLOAT,
    
    -- Passing metrics
    pass_success_pct FLOAT,
    accurate_passes_90 FLOAT,
    accurate_long_balls_90 FLOAT,
    successful_long_balls_pct FLOAT,
    
    -- Defensive statistics
    clean_sheets FLOAT,
    goals_conceded FLOAT,
    total_clearances FLOAT,
    total_interceptions FLOAT,
    
    -- Dribbling metrics
    successful_dribbles_90 FLOAT,
    dribble_success_rate FLOAT,
    
    -- Foul statistics
    yellow_cards FLOAT,
    red_cards FLOAT,
    fouls_per_90 FLOAT, 
        FOREIGN KEY (player_id) REFERENCES player(id)
);
""")

# COACHES

for i in range(len(df_coaches)):
    coach = df_coaches.iloc[i]
    mycursor.execute(f"""
    INSERT INTO coach (name, age, country, experience_years, titles)
    VALUES ('{coach['name']}', {coach['age']}, '{coach['country']}', {coach['experience_years']}, {coach['titles']});
    """)
    mydb.commit()

print('Coaches inserted')

# TEAMS

for i in range(len(df_teams)):
    team = df_teams.iloc[i]
    mycursor.execute(f"""
    INSERT INTO team (name, country, position_league, matches)
    VALUES ('{team['name']}', 'ENG', {team['position_league']}, {team['matches']});
    """)
    mycursor.execute(f"""
    INSERT INTO team_stats (team_id) VALUES ((SELECT id FROM team WHERE name = '{team['name']}'));
    """)
    mydb.commit()

update_team_queries = [
    "UPDATE team SET city = 'Manchester', region = 'North' WHERE name = 'Manchester City';",
    "UPDATE team SET city = 'London', region = 'South' WHERE name = 'Arsenal';",
    "UPDATE team SET city = 'Liverpool', region = 'North' WHERE name = 'Liverpool';",
    "UPDATE team SET city = 'Birmingham', region = 'Midlands' WHERE name = 'Aston Villa';",
    "UPDATE team SET city = 'London', region = 'South' WHERE name = 'Tottenham Hotspur';",
    "UPDATE team SET city = 'London', region = 'South' WHERE name = 'Chelsea';",
    "UPDATE team SET city = 'Newcastle', region = 'North' WHERE name = 'Newcastle United';",
    "UPDATE team SET city = 'Manchester', region = 'North' WHERE name = 'Manchester United';",
    "UPDATE team SET city = 'London', region = 'South' WHERE name = 'West Ham United';",
    "UPDATE team SET city = 'London', region = 'South' WHERE name = 'Crystal Palace';",
    "UPDATE team SET city = 'Brighton', region = 'South' WHERE name = 'Brighton and Hove Albion';",
    "UPDATE team SET city = 'Bournemouth', region = 'South' WHERE name = 'AFC Bournemouth';",
    "UPDATE team SET city = 'London', region = 'South' WHERE name = 'Fulham';",
    "UPDATE team SET city = 'Wolverhampton', region = 'Midlands' WHERE name = 'Wolverhampton Wanderers';",
    "UPDATE team SET city = 'Liverpool', region = 'North' WHERE name = 'Everton';",
    "UPDATE team SET city = 'Brentford', region = 'South' WHERE name = 'Brentford';",
    "UPDATE team SET city = 'Nottingham', region = 'Midlands' WHERE name = 'Nottingham Forest';",
    "UPDATE team SET city = 'Luton', region = 'South' WHERE name = 'Luton Town';",
    "UPDATE team SET city = 'Burnley', region = 'North' WHERE name = 'Burnley';",
    "UPDATE team SET city = 'Sheffield', region = 'North' WHERE name = 'Sheffield United';",
]

for query in update_team_queries:
    mycursor.execute(query)

mydb.commit()	

print('Teams inserted')

# TEAM COACHES

insert_team_coach = """
INSERT INTO team_coach (team_id, coach_id) VALUES 
((SELECT id FROM team WHERE name = 'Manchester City'), (SELECT id FROM coach WHERE name = 'Pep Guardiola')),
((SELECT id FROM team WHERE name = 'Arsenal'), (SELECT id FROM coach WHERE name = 'Mikel Arteta')),
((SELECT id FROM team WHERE name = 'Liverpool'), (SELECT id FROM coach WHERE name = 'Jürgen Klopp')),
((SELECT id FROM team WHERE name = 'Aston Villa'), (SELECT id FROM coach WHERE name = 'Unai Emery')),
((SELECT id FROM team WHERE name = 'Tottenham Hotspur'), (SELECT id FROM coach WHERE name = 'Ange Postecoglou')),
((SELECT id FROM team WHERE name = 'Chelsea'), (SELECT id FROM coach WHERE name = 'Mauricio Pochettino')),
((SELECT id FROM team WHERE name = 'Newcastle United'), (SELECT id FROM coach WHERE name = 'Eddie Howe')),
((SELECT id FROM team WHERE name = 'Manchester United'), (SELECT id FROM coach WHERE name = 'Erik Ten Hag')),
((SELECT id FROM team WHERE name = 'West Ham United'), (SELECT id FROM coach WHERE name = 'David Moyes')),
((SELECT id FROM team WHERE name = 'Crystal Palace'), (SELECT id FROM coach WHERE name = 'Roy Hodgson')),
((SELECT id FROM team WHERE name = 'Crystal Palace'), (SELECT id FROM coach WHERE name = 'Oliver Glasner')),
((SELECT id FROM team WHERE name = 'Brighton and Hove Albion'), (SELECT id FROM coach WHERE name = 'Roberto De Zerbi')),
((SELECT id FROM team WHERE name = 'AFC Bournemouth'), (SELECT id FROM coach WHERE name = 'Andoni Iraola')),
((SELECT id FROM team WHERE name = 'Fulham'), (SELECT id FROM coach WHERE name = 'Marco Silva')),
((SELECT id FROM team WHERE name = 'Wolverhampton Wanderers'), (SELECT id FROM coach WHERE name = 'Julen Lopetegui')),
((SELECT id FROM team WHERE name = 'Wolverhampton Wanderers'), (SELECT id FROM coach WHERE name = 'Gary O’Neil')),
((SELECT id FROM team WHERE name = 'Everton'), (SELECT id FROM coach WHERE name = 'Sean Dyche')),
((SELECT id FROM team WHERE name = 'Brentford'), (SELECT id FROM coach WHERE name = 'Thomas Frank')),
((SELECT id FROM team WHERE name = 'Nottingham Forest'), (SELECT id FROM coach WHERE name = 'Steve Cooper')),
((SELECT id FROM team WHERE name = 'Nottingham Forest'), (SELECT id FROM coach WHERE name = 'Nuno Espírito Santo')),
((SELECT id FROM team WHERE name = 'Luton Town'), (SELECT id FROM coach WHERE name = 'Rob Edwards')),
((SELECT id FROM team WHERE name = 'Burnley'), (SELECT id FROM coach WHERE name = 'Vincent Kompany')),
((SELECT id FROM team WHERE name = 'Sheffield United'), (SELECT id FROM coach WHERE name = 'Paul Heckingbottom')),
((SELECT id FROM team WHERE name = 'Sheffield United'), (SELECT id FROM coach WHERE name = 'Chris Wilder'));
"""

for result in mycursor.execute(insert_team_coach, multi=True):
    if result.with_rows:
        print(result.fetchall())

mydb.commit()

print('Team coaches inserted')

# PLAYERS
# TEAM PLAYERS

escape_single_quotes = lambda x: x.replace("'", "’")

for i in range(len(df_players)):
    strong_foot = random.choice([True, False])
    player = df_players.iloc[i]
    player_name = escape_single_quotes(player['name']) 
    mycursor.execute(f"""
    INSERT INTO player (name, country, strong_foot, matches, minutes)
    VALUES ('{player_name}', '{player['country']}', {strong_foot}, {player['matches']}, {player['minutes']});
    """)
    mycursor.execute(f"""
    INSERT INTO team_player (team_id, player_id) VALUES 
    ((SELECT id FROM team WHERE name = '{player['team']}'), (SELECT id FROM player WHERE name = '{player_name}'));
    """)
    mycursor.execute(f"""
    INSERT INTO player_stats (player_id) VALUES
    ((SELECT id FROM player WHERE name = '{player_name}'));
    """)             
    mydb.commit()


print('Players inserted')

### MySQL - Stats

In [ ]:
# TEAM STATS

queries = []
for i in range(len(df_team_stats)):
    team = df_team_stats.iloc[i]
    params = (
        float(team['cross_success_pct']),
        float(team['accurate_crosses_per_90']),
        int(team['corners_taken']),
        float(team['team_rating']),
        int(team['touches_in_opp_box']),
        float(team['possession_pct']),
        escape_single_quotes(team['team'])
    )
    query = """
    UPDATE team_stats
    SET cross_success_pct = %s,
        accurate_crosses_per_90 = %s,
        corners_taken = %s,
        team_rating = %s,
        touches_in_opp_box = %s,
        possession_pct = %s
    WHERE team_id = (SELECT id FROM team WHERE name = %s);
    """
    queries.append((query, params))

for query, params in queries:
    try:
        mycursor.execute(query, params)
    except mysql.connector.Error as err:
        print(f"Error executing query with params {params}: {err}")

mydb.commit()

print('Team stats inserted')


# PLAYER STATS
# Prepare a list of queries and parameters

queries = []

for i in range(len(df_player_stats)):
    player = df_player_stats.iloc[i]
    player_name = escape_single_quotes(player['player'])
    params = (
        float(player['player_rating']),
        int(player['player_of_match']),
        int(player['goals']),
        float(player['expected_goals']),
        float(player['shot_conversion_rate']),
        int(player['penalties_scored']),
        int(player['assists']),
        float(player['expected_assists']),
        int(player['secondary_assists']),
        int(player['big_chances_created']),
        int(player['big_chances_missed']),
        float(player['pass_success_pct']),
        float(player['accurate_passes_90']),
        float(player['accurate_long_balls_90']),
        float(player['successful_long_balls_pct']),
        int(player['clean_sheets']),
        int(player['goals_conceded']),
        int(player['total_clearances']),
        int(player['total_interceptions']),
        float(player['successful_dribbles_90']),
        float(player['dribble_success_rate']),
        int(player['yellow_cards']),
        int(player['red_cards']),
        float(player['fouls_per_90']),
        player_name
    )

    query = """
    UPDATE player_stats
    SET player_rating = %s,
        player_of_match = %s,
        goals = %s,
        expected_goals = %s,
        shot_conversion_rate = %s,
        penalties_scored = %s,
        assists = %s,
        expected_assists = %s,
        secondary_assists = %s,
        big_chances_created = %s,
        big_chances_missed = %s,
        pass_success_pct = %s,
        accurate_passes_90 = %s,
        accurate_long_balls_90 = %s,
        successful_long_balls_pct = %s,
        clean_sheets = %s,
        goals_conceded = %s,
        total_clearances = %s,
        total_interceptions = %s,
        successful_dribbles_90 = %s,
        dribble_success_rate = %s,
        yellow_cards = %s,
        red_cards = %s,
        fouls_per_90 = %s
    WHERE player_id = (SELECT id FROM player WHERE name = %s);
    """
    queries.append((query, params))

for query, params in queries:
    try:
        mycursor.execute(query, params)
    except mysql.connector.Error as err:
        print(f"Error executing query with params {params}: {err}")

mydb.commit()

print('Player stats inserted')

### MySQL - Simple Queries

In [ ]:
def simple_query_1():
    query = """
    SELECT 
        name, country, strong_foot, matches, minutes
    FROM 
        player
    WHERE 
        country = 'POR' OR country = 'ESP';
    """

    mycursor.execute(query)
    myresult = mycursor.fetchall()
    for x in myresult:
        print(x)

def simple_query_2():
    query = """
    INSERT INTO coach (name, country, age, experience_years, titles)
    VALUES ('Ruben Amorim', 'POR', 39, 6, 6);
    """
    mycursor.execute(query)
    mydb.commit()
    print(mycursor.rowcount, "record inserted.")

    query = """
    INSERT INTO team_coach (team_id, coach_id)
    SELECT t.id, c.id
    FROM team t
    JOIN coach c ON c.name = 'Ruben Amorim'
    WHERE t.name = 'Manchester United';
    """
    mycursor.execute(query)
    mydb.commit()
    print(mycursor.rowcount, "record inserted.")

simple_query_1()
print("\n")
simple_query_2()

### MySQL - Complex Queries

In [ ]:
def top_performing_coaches():
    query = """
    SELECT c.name AS coach_name, c.country, c.experience_years, 
           t.name AS team_name, t.position_league,
           ts.team_rating, ts.possession_pct,
           AVG(ps.player_rating) AS avg_player_rating,
           SUM(ps.goals) AS total_team_goals,
           SUM(ps.assists) AS total_team_assists
    FROM coach c
    JOIN team_coach tc ON c.id = tc.coach_id
    JOIN team t ON tc.team_id = t.id
    JOIN team_stats ts ON t.id = ts.team_id
    JOIN team_player tp ON t.id = tp.team_id
    JOIN player_stats ps ON tp.player_id = ps.player_id
    GROUP BY c.id, t.id, c.name, c.country, c.experience_years, t.name, t.position_league, ts.team_rating, ts.possession_pct
    ORDER BY t.position_league ASC, ts.team_rating DESC, total_team_goals DESC
    LIMIT 3
    """
    mycursor.execute(query)
    results = mycursor.fetchall()
    
    for result in results:
        print(f"Coach: {result[0]}, Team: {result[3]}, League Position: {result[4]}, Team Rating: {result[5]}")
        print(f"Average Player Rating: {result[7]:.2f}, Total Goals: {result[8]}, Total Assists: {result[9]}\n")

def top_performing_players():
    query = """
    SELECT 
    p.name AS player_name, 
    SUM(ps.goals) AS total_goals, 
    SUM(ps.assists) AS total_assists, 
    SUM(ps.goals + ps.assists) AS total_contribution,
    p.matches AS total_matches,
    p.minutes AS total_minutes
    FROM 
        player_stats ps
    JOIN 
        player p ON ps.player_id = p.id
    WHERE 
        p.matches >= 1 AND p.matches <= 38 -- Adjust range as needed
    GROUP BY 
        p.id, p.name
    ORDER BY 
        total_contribution DESC
        , total_minutes ASC
    LIMIT 5;
    """
    mycursor.execute(query)
    results = mycursor.fetchall()
    
    for result in results:
        print(f"Player: {result[0]}, Total Goals: {result[1]}, Total Assists: {result[2]}, Total Contribution: {result[3]}, Total Matches: {result[4]}, Total Minutes: {result[5]}\n")

top_performing_coaches()
print("\n")
top_performing_players()